<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<!-- My CSS -->
	<link rel="stylesheet" href="/dash_style.css">

	<title>dashboard</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<img src="img/log.png" style="height:100px;width:100px;border-radius:10px;margin:10px;">
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="#" id="dashboard-link">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Tableau de bord</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-shopping-bag-alt' ></i>
					<span class="text">Quiz</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Questions</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Analyses</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-group' ></i>
					<span class="text">Équipe</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Paramètres</span>
				</a>
			</li>
			<li>
				<a href="/logout" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Déconnexion</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a href="#" class="nav-link">Catégories</a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Rechercher...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="profile">
				<img src="img/people.png">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main id="main">
			<div class="head-title" id="head-title">
				<div class="left">
					<h1>Tableau de bord</h1>
					<ul class="breadcrumb">
						<li>
							<a id="breadcrumb-first" href="#">Tableau de bord</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a id="breadcrumb-second" class="active" href="#">Accueil</a>
						</li>
					</ul>
				</div>
				
			</div>

			<ul class="box-info" id="box-info">
				<li>
					<i class="fas fa-comments"></i>
					<span class="text">
						<h3>Compréhension Orale</h3>
						<p></p>
					</span>
				</li>
				<li>
					<i class="fas fa-book-open"></i>
					<span class="text">
						<h3>Compréhension Écrite</h3>
						<p></p>
					</span>
				</li>
				<li>
					<i class ="fas fa-pencil-alt"></i>
					<span class="text">
						<h3>Expression Écrite</h3>
						<p></p>
					</span>
				</li>
				<li>
					<i class='bx bxs-microphone'></i>
					<span class="text">
						<h3>Expression Orale</h3>
						<p></p>
					</span>
				</li>
			</ul>


			<div class="table-data" id="table-data">
				<div class="order" id="order">
					<div class="head">
						<h3>Outils</h3>
					</div>
					<table>
						<thead>
							<tr></tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<img src="img/people.png">
									<p>Créer un quiz</p>
								</td>
								
								<td><span class="status completed">Démarrer</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/people.png">
									<p>Modifier un quiz</p>
								</td>
								
								<td><span class="status pending">Démarrer</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/people.png">
									<p>Voir un quiz</p>
								</td>
								
								<td><span class="status process">Démarrer</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/people.png">
									<p>Supprimer un quiz</p>
								</td>
								
								<td><span class="status pending">Démarrer</span></td>
							</tr>
							
						</tbody>
					</table>
				</div>
				<div class="quiz" id="quiz">
					<div class="head">
						<h3>Vues</h3>
					</div>
					<ul class="quiz-list">
						<li class="completed">
							<p>Quiz 1</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="completed">
							<p>Quiz 2</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="not-completed">
							<p>Quiz 3</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="completed">
							<p>Quiz 4</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="not-completed">
							<p>Quiz 5</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
					</ul>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script src="/dash_script.js"></script>
</body>
</html>
